<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Code" formControlName="code" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Designation" formControlName="designation" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Prix" formControlName="prix" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Quantite" formControlName="quantite" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="date" placeholder="Date Achat" formControlName="dateAchat" />
  </mat-form-field>

  <mat-checkbox formControlName="enPromotion">En Promotion</mat-checkbox>

  <mat-form-field>
    <mat-select placeholder="Categorie" formControlName="categorie">
      <mat-option *ngFor="let categorie of categories" [value]="categorie">
        {{ categorie.libelle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
</form>